.header {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: left;
    padding: 20px 0 40px;
    margin-left: 5%;
}

.header__title {
    font-size: 44px;
    height: 100px;
    display: block;
    /*width: 60%;*/
    width: 300px;
    max-width: 80%;
}

.header__logo {
    width: 100%;
}

@media only screen and (min-device-width: 1024px) {
    .header {
        margin-left: 20%;
        margin-bottom: 60px;
    }

    .header__title {
        width: 400px;
        max-width: none;
    }
}

@media only screen and (min-device-width: 1024px) {
    .header__title {
        width: 600px;
        max-width: none;
    }
}
