.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.content {
    width: 480px;
    margin-left: 20%;
}

.phone-picture {
    /*float: right;*/
    position: fixed;
    bottom: -20px;
    right: 20px;
    z-index: -1;
}
