.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 2.5% 2rem 2.5%;
}

.actions .button {
    margin-bottom: 20px;
}

.content {
    width: 90%;
    margin: 0 auto;
    /*margin-left: 5%;*/
}

.phone-picture__container {
    position: fixed;
    bottom: -20px;
    right: 20px;
    z-index: -1;
    width: 20%;
    display: none;
}

.phone-picture {
    width: 100%;
}

@media only screen and (min-device-width: 700px) {
    .phone-picture__container {
        display: inline-block;
        width: 50%;
        right: -5%;
    }
}

@media only screen and (min-device-width: 1024px) {
    .content {
        width: 33%;
        margin-left: 20%;
    }

    .phone-picture__container {
        right: 20px;
        width: 40%;
    }

    .actions {
        flex-direction: row;
    }

    .actions .button {
        margin-bottom: 0;
    }
}

@media only screen and (min-device-width: 1600px) {
    .content {
        width: 35%;
        max-width: 1000px;
    }

    .phone-picture__container {
        right: 20px;
        width: 35%;
        /*max-width: 580px;*/
    }
}
