.file-drop {
    /*min-width: 460px;*/
    margin: 0 auto;
}

.file-drop .button {
    margin-bottom: 60px;
}

.file-drop__info {
    font-size: 23px;
    font-weight: 300;
    color: white;
    padding-bottom: 50px;
    text-align: left;
}

.file-drop__info--small {
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    margin-top: 28px;
    padding-bottom: 0;
}

.file-drop__info-link {
    color: #e74c3c;
}

.dropzone {
    text-align: center;
    width: 380;
    height: 380px;
    font-size: 22px;
    font-weight: 500;
    padding: 20px;
    border-radius: 8px;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.13) 2px 2px 10px 0px;
    box-shadow: inset rgba(0, 0, 0, 0.13) 2px 2px 10px 0px;
    flex: 1;
    align-content: center;
    justify-content: center;
    background-color: #E8E8E8;
    color: #C3C3C3;
    transition: color, background-color 0.2s ease-out;
    position: relative;
    cursor: pointer;
}

.dropzone--accept {
    color: rgb(84, 191, 242);
    background-color: rgba(159, 220, 249, 0.3);
}

.dropzone--reject {
    color: #e31a1a;
    background-color: rgba(255, 0, 0, 0.2);
}

.upload-icon {
    width: 48px;
    top: 50%;
    top: calc(50% - 24px);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    fill: #C3C3C3;
    transition: fill 0.2s ease-out;
}

.dropzone--accept .upload-icon {
    fill: rgb(84, 191, 242);
}

.dropzone--reject .upload-icon {
    fill: red;
}
