.file-drop {
    margin: 0 auto;
}

.file-drop .button {
    margin-bottom: 2rem;
}

.file-drop__info {
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    margin-bottom: 2rem;
    text-align: left;
}

.file-drop__info--small {
    font-size: 0.95rem;
    text-align: center;
    font-weight: 300;
    margin-top: 28px;
    padding-bottom: 0;
    max-width: 380px;
    width: 100%;
}

.file-drop__info-link {
    color: #e74c3c;
}

.dropzone {
    text-align: center;
    max-width: 380px;
    width: 100%;
    height: 380px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px;
    border-radius: 8px;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.13) 2px 2px 10px 0px;
    box-shadow: inset rgba(0, 0, 0, 0.13) 2px 2px 10px 0px;
    flex: 1;
    align-content: center;
    justify-content: center;
    background-color: #E8E8E8;
    color: #C3C3C3;
    transition: color, background-color 0.2s ease-out;
    position: relative;
    cursor: pointer;
}

.dropzone--accept {
    color: white;
    background-color: #8eca7d;
}

.dropzone--reject {
    color: #e31a1a;
    background-color: rgba(255, 0, 0, 0.2);
}

.dropzone__button {
    width: 100%;
    max-width: 380px;
}

.upload-icon {
    width: 3.5rem;
    top: 50%;
    top: calc(50% - 1.25rem);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    fill: #C3C3C3;
    opacity: 1;
    transition: opacity 0.2s ease-out, fill 0.2s ease-out;
}

.correct-icon, .error-icon {
    fill: white;
    width: 3.5rem;
    top: 50%;
    top: calc(50% - 1.25rem);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.dropzone--accept .upload-icon, .dropzone--reject .upload-icon {
    opacity: 0;
}

.dropzone--accept .correct-icon {
    opacity: 1;
}

.dropzone--reject .error-icon {
    opacity: 1;
}

@media only screen and (min-device-width: 768px) {
    .dropzone {
        height: 320px;
    }
}

@media only screen and (min-device-width: 1600px) {
    .dropzone {
        /*height: 420px;*/
        height: 0;
        padding-bottom: 80%;
    }

    .dropzone, .file-drop__info--small {
        max-width: none;
    }
}

@media only screen and (min-device-width: 1900px) {
    .dropzone, .file-drop__info--small {
        height: 35vh;
    }
}
