body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #13659c;
    background: -webkit-linear-gradient(90deg, #13659c, #00165f);
    background: -moz-linear-gradient(90deg, #13659c, #00165f);
    background: -o-linear-gradient(90deg, #13659c, #00165f);
    background: -ms-linear-gradient(90deg, #13659c, #00165f);
    background: linear-gradient(0deg, #13659c, #00165f);
    min-height: 100vh;
}

.App {
    padding-bottom: 20px;
}

/* box sizing fix, source: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
    font-size: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

@media only screen and (min-device-width: 768px) {
    html {
        font-size: 120%;
    }
}

@media only screen and (min-device-width: 1024px) {
    html {
        font-size: 130%;
    }
}

@media only screen and (min-device-width: 1600px) {
    html {
        font-size: 150%;
    }
}

@media only screen and (min-device-width: 2600px) {
    html {
        font-size: 170%;
    }
}

@media only screen and (min-device-width: 3200px) {
    html {
        font-size: 180%;
    }
}
